.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: auto;
    width: 90%;
    gap: 10px;
}
.name
{
    font-size: 2.8rem;
    color: #fff;
    top: 72%;
    position: absolute;
    left: 5%;
}
.hover
{
    position: absolute;
    width: 100%;
    height: 100%;
}
/* .hover:hover
{
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid goldenrod;
    border-top-width: 10px;
    border-left-width: 10px;
} */

.explore
{
    position: absolute;
    color: #fff;
    font-weight: 400;
    line-height: 1.5;
    font-size: 20px;
    top: 84%;
    left: 6%;

}
.productsContainer
{
    height: 550px;
}
.productsContainer:hover
{
    cursor: pointer;
}
.bg
{
    /* background-image: url("https://images4.newscred.com/Zz1kNmFkYmFmNzhlNGIxMWViYTU1ZDFmYjg0ZWI5MTc4Zg=="); */
    background-size: cover;
    background: aliceblue;
}






